#main {
    float: left;
    
}

.table_price {
  border-collapse: collapse;
  border-left: 3px solid silver;
  border-right: 3px solid silver;
  border-bottom: 3px solid silver;
  font-family: 'Comfortaa', cursive;
  margin-left: 15%;
    
 }
.table_price caption {
  background-color: rgba(86, 101, 112, 1); 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  box-shadow: 0 2px  2px 0 rgba(0,0,0,.3);
  color: white;
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price td, .table_price th {
  padding: 25px;
}
.table_price th {
  text-align: left;
  font-size: 18px;
}
.table_price tr:nth-child(2n) {
  background-color:whitesmoke;
}
.table_price td:last-of-type {
  text-align: center;
}
table .btn {                    /*кнопка*/
    border: 0;
    border-bottom: 2px solid black;
    cursor: pointer;
    background-color:rgba(86, 101, 112, 1);
}









@media (min-width: 1024px) {
        #main {
        width: 60%;    
        margin-left: 3%;
    }

    aside {   
        width: 30%;    
        margin-left: 2%;
    }
        #news {                                             
        margin-left: 10%;
        width: 90%; 

    }
    }

    @media (max-width: 1024px) and (min-width: 900px) {
        #main {
        width: 65%;    
        margin-left: 2%;
    }

    aside {   
        width: 32%;    
    }
        #news {                                             
        margin-left: 4%;
        width: 96%; 

    }
    }

    @media (max-width: 900px) and (min-width: 530px) {
        #main {
        width: 90%;    
        margin-left: 5%;
    }

    aside {   
        width: 50%;
        margin-left: 25%;
    }
        #news {                                          

        width: 96%; 

    }
    }

    @media (max-width: 529px) {
        #main {
        width: 90%;    
        margin-left: 5%;
    }

    aside {   
        width: 80%;
        margin-left: 10%;
    }
        #news {                                          

        width: 96%; 

    }
    }

            @media (min-width: 1220px) {
                .article {
                    width: 40%;
                    margin-right: 10%;
                }
            }

            @media (max-width: 1219px) and (min-width: 650px) {
                .article {
                    width: 45%;
                    margin-right: 5%;
                }
            }

            @media (max-width: 649px) and (min-width: 500px) {
                .article {
                    width: 70%;
                    margin-right: 15%;
                }
            }

            @media (max-width: 499px) {
                .article {
                    width: 90%;
                    margin-right: 5%;
                }
            }

@media (max-width: 600px) {
    #ads>a>.btn {
        margin-left: 5%!important;
    }
}

@media (max-width: 440px) {
    #main>a>.btn {
        margin-left: 5%!important;
    }
}