@import url('https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower');

*{
    margin: 0;
    padding: 0;
    outline: none;
}

#main {
    float: left;
            
}

p {
    font-size: 0.8em;
    margin-top: 20px;
    margin-left: 28px;
    font-family: 'Comfortaa', cursive;
}

form {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}


form>div {
    float: left;
    width: 70%;
}

form>div>input {
    border-radius: 20px;
    border: 1px solid silver;
    font-size: 0.9em;
    padding: 10px 5%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    width: 70%;
}

form>div>select {
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 0.7em;
    padding: 5px 5%;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

form textarea {
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 0.7em;
    padding: 10px 5%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    width: 70%;
}

form span {
    font-size: 0.7em;
    margin-left: 28px;
    font-family: 'Comfortaa', cursive;
}

form .btn {
    border: 0;
    border-bottom: 4px solid black;
    cursor: pointer;
    background-color:cornflowerblue;
}

.block {
    background-color: #fafafa;
    border-radius: 10px;
    border: 2px solid silver;    
    font-size: 1.5em;
    color: #3e3e3e;
    float: left;
}

@media (min-width 910px) {
    .block {
        width: 88%;
        padding: 3%;
    }
}

@media (max-width 909px) {
    .block {
        width: 92%;
        padding: 4%;
    }
}

















